[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EBcoBART"]
	path = EBcoBART
	url = https://github.com/jeroengoedhart/ebcobart
